# Core
streamlit==1.32.2
openai==1.2.0
httpx==0.24.1


# ML / NLP
scikit-learn==1.3.2
spacy==3.7.5

# Data
pandas==2.1.4
numpy==1.26.4

# Vector DB
qdrant-client==1.9.0

# Graphs
networkx==3.2.1
plotly==5.18.0
streamlit-agraph==0.0.45

# PDF / Docs
pypdf2==3.0.1

# Utilities
python-dotenv==1.0.1
requests==2.31.0
python-multipart==0.0.9
